{% extends 'image_resize/base.html' %}

{% block title %}{{ block.super }} - {{ image.filename }}{% endblock %}

{% block content %}
    <a href="/">Назад к списку</a>
    <h1>{{ image.filename }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ ImageResizeForm.as_table }}
        </table>
        <input type="submit" value="Отправить">
    </form>
    <br>
    <p>{{ image_id }}</p>
    <img src="{{ image.image_name.url }}" alt="{{ image.filename }}">
{% endblock %}